<!DOCTYPE html>
<html lang="en">

<head class="yolo">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
    </style>
</head>

<div class="navBar-top-format">
    <div class="item1-navBar">
        <img src="static/images/stocks.jpg" height="40" width="45" />
        <div class="navbartext">Financial Sentiment Analyzer</div>
    </div>
    <div class="item2-navBar">
        <nav>
            <a class="horizontal-bar" href="{{url_for('index')}}">Home</a>
            <a class="horizontal-bar" href="{{url_for('get_about')}}">About</a>
            <a class="horizontal-bar" href="{{url_for('get_contact')}}">Contact</a>
            <div class="animation start-home"></div>
        </nav>
    </div>
</div>

<body>
    
    <main class="colors">
        <h1 class="center"> What is Financial Sentiment? </h1>
        <img src="static/images/sentiment.png" class="center">
        <br> 
        <section>
            The most common use of The Sentiment Analysis API in the financial sector will be the analysis of
            financial news, in particular to predicting the behaviour and possible trend of stock markets.
            <br> <br>
            Traditional Technical Analysis of the Financial Market with the use of tools the like of Stockastics and
            Bollinger bands aside, sentiment analytics has been receiving a lot of attention as it allows the
            integration of both Fundamental Analysis (FA) and Technical Analysis (TA).
            <br> <br>
            In real life, Financial Market Analysts make predictions on the stock market based on opinions and
            happenings in the news. Similarly, Sentiment Analysis API is making it possible for computers to do the
            same job now. Further more, with advance computational linguistic and machine learning techniques, the
            task of opinion mining proves to be more efficient than human analysts, having the capability to scan
            through huge chunk of text across various news channels within seconds.
            <br><br>
            A simple example of the real application of Sentiment Analysis API for the financial sector can be
            explained by the task of assigning positive, negative or neutral sentiment values to the words. For
            instance, words such as “good“, “benefit“, “positive“, and “growth” are all tagged with positive scores
            while words such as “risk“, “fall“, “bankruptcy“, and “loss” are tagged with negative scores.
            <br><br>
        </section>
        <footer>
            credit: twinword financial sentiment analysis


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>