<!DOCTYPE html>
<html lang="en">

<head class="yolo">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="static/css/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
    </style>
</head>

<body>
    <nav>
        <br>
        <div class="container navheader">
            <div class="row">
                <div class="col">
                    <div class="dropdown" class="picture">
                        <button class="btn btn-secondary dropdown-toggle" type="button" img="stocks.jpg"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> <a
                                href="index.html"> <img src="static/images/stocks.jpg" height="70" width="75" /></a>

                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{{url_for('index')}}">Home</a></li>
                            <li><a class="dropdown-item" href="{{url_for('get_about')}}">About</a></li>
                            <li><a class="dropdown-item" href="{{url_for('get_contact')}}"> Contact Us </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <h1> Financial </h1>
                </div>
                <div class="col">
                    <h1> Sentiment </h1>
                </div>
                <div class="col">
                    <h1> Analyzer </h1>
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>

                <div class="col">

                </div>
            </div>

        </div>


    </nav>

    <div class ="form">
        <main class="textcolorita">
        Insert the name of the stock you would like to learn more about!
        <form method="post" action="/yoursentiment" class="bar">
            <input type="text" class="form-control" name="stockchoice" aria-describedby="passwordHelpBlock"
                placeholder="Stock Name" />
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <br>
        <br>
    </main>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>